################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/src/obj
/src/.vs/Module4
/src/bin/Debug/net7.0
/src/Module4.3/bin/Debug/net7.0
/src/.vs/ProjectEvaluation
/src/Module4.3/obj/Debug/net7.0
/src/Module4.3/obj
